* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-container {
  max-width: 100%;
  width: 100%;
  height: 80vh;
}

body {
  font-family: arial;
}

.swiper-slide {
  max-width: 100%;
  width: 100%;
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide .overlay {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide .overlay .overlay-wrapper header {
  width: 700px;
  margin: 0 auto;
  padding: 10px 20px;
  color: #fff !important;
  text-align: center;
}

@media all and (max-width: 750px) {
  .swiper-slide .overlay .overlay-wrapper header {
    width: 95%;
  }
}

.swiper-slide .overlay .overlay-wrapper header .big-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #fff !important;
}

@media all and (max-width: 750px) {
  .swiper-slide .overlay .overlay-wrapper header .big-title {
    font-size: 1.3rem;
  }
}

.swiper-slide .overlay .overlay-wrapper header .small-title {
  color: #fff !important;
  font-size: 30px;
  font-weight: 400;
}

@media all and (max-width: 750px) {
  .swiper-slide .overlay .overlay-wrapper header .small-title {
    font-size: 1.1rem;
  }
}

.swiper-slide .overlay .overlay-wrapper .container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide .overlay .overlay-wrapper .container-btn button {
  margin: 20px auto 0 auto;
  border: none;
  background: #5B9A37;
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transform: all 0.3s;
          transform: all 0.3s;
}

@media all and (max-width: 750px) {
  .swiper-slide .overlay .overlay-wrapper .container-btn button {
    font-size: 16px;
  }
}

.swiper-slide .overlay .overlay-wrapper .container-btn button:hover {
  background: #fff;
  color: #5B9A37;
  cursor: pointer;
}

.swiper-slide .overlay .overlay-wrapper .container-btn button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  opacity: 1;
  border: solid #fff 2px;
  background: transparent;
}

.swiper-pagination-bullet:focus, .swiper-pagination-bullet-active:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.slide-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 800px) {
  .slide-image {
    background-position: right;
  }
}
/*# sourceMappingURL=swiper.css.map */