* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    .swiper-container {
        max-width: 100%;
        width: 100%;
        height: 80vh;

       


    }
    .swiper-slide {
        max-width: 100%;
        width: 100%;
        background: #ccc;
        // justify-content: center;
        // align-items: center;
        // display: flex;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-template-rows: 1fr;
       

        img {
           
          height: 100%;
          width: 100%;
            //display: block;
            grid-column: 1 / span 4;
            grid-row: 1 / span 1;
            object-fit: none;
             @media all and (max-width: 749px) {
                margin: 0 auto;
                 //object-fit: scale-down;
                 //width: 750px;
                 outline: red solid 1px;
                 width: 750px;
                 grid-column: 2 / span 2;
   

             }
        
            
            
        }
        .overlay {

            grid-column: 1 / span 4;
            grid-row: 1 / span 1; 
            display: flex;
            justify-content: center;
            align-items: center;
         .overlay-wrapper {
             

            header{
                width: 700px;
                @media all and (max-width: 750px) {
                    width: 90%;
                }
                      margin: 0 auto;
                     padding: 10px 20px;
                     background: RGBA(0,0,0,0.3);
                     color: #fff;
                     text-align: center;
                     h1 {
                         text-transform: uppercase;
                        // color: red;
                        @media all and (max-width: 750px) {
                         font-size: 1rem;
                     }
                     }
                     h2 {
                         font-weight: 400;
                         @media all and (max-width: 750px) {
                             font-size: 0.9rem;
                         }
     
                     }
     
                 }// end of header
                 .container-btn {
                     display: flex;
                     button {
                         margin: 20px auto 0 auto;
                        border: none;
                        background: #5B9A37;
                        color: #fff;
                        font-weight: 500;
                        padding: 10px 20px;
                        font-size: 20px;
                        text-transform: uppercase;
                        //border-radius: 5px;
                        transform: all 0.3s;
                        @media all and (max-width: 750px) {
                            font-size: 16px;
                        }
                     }
                     
                     button:hover {
                         background: #fff;
                         color: #5B9A37;
                         cursor: pointer;
                     }
                
                 }

     
             } 

         }   
            
            

        }
        
       
        
    
    .swiper-pagination-bullet-active {
        background-color: #fff !important;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        //
        opacity: 1;

    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: red;
        opacity: 1;
        border: solid #fff 2px;
        background: transparent ;
    }

    .slide-1 {
        // height: 100%;
        // width: 100%;
        // //background-color: red;
        // background-image: url("1.jpg") !important;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
      
        
    }